html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Noto Sans JP", sans-serif;
  color: rgb(68, 68, 68);
}

.ly-header_inner {
  display: flex;
  justify-content: space-between;
  max-width: 118rem;
  padding: 0 2rem;
  margin: 0 auto;
}
.ly-header_inner .el-logo {
  margin: 2.9rem 0 2.8rem;
}
.ly-header_inner .ly-header_right p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  margin: 3.3rem 0 0.7rem;
}
.ly-header_inner .ly-header_right .el-tel {
  margin-bottom: 3.5rem;
}

@media (max-width: 800px) {
  .ly-header_inner {
    align-items: center;
  }
  .ly-header_inner .el-logo {
    width: 21.5rem;
  }
}
@media (max-width: 599px) {
  .ly-header_inner {
    flex-direction: column;
    text-align: center;
  }
  .ly-header_inner .el-logo {
    margin: 2.9rem 0 0;
  }
  .ly-header_inner .ly-header_right p {
    margin: 1.5rem 0 0.5rem;
  }
  .ly-header_inner .ly-header_right .el-tel {
    margin-bottom: 2.5rem;
  }
}
.ly-cont {
  max-width: 118rem;
  margin: 0 auto;
}

.ly-footer_inner {
  display: flex;
  max-width: 118rem;
  padding: 19.6rem 0 16.3rem;
  margin: 0 auto;
}
.ly-footer_inner .ly-footer_right {
  flex-grow: 1;
  margin-left: 3.4rem;
}
.ly-footer_inner .ly-footer_right .el-logo {
  margin-bottom: 2.5rem;
}
.ly-footer_inner .ly-footer_right .hp-df {
  margin-bottom: 2.5rem;
}
.ly-footer_inner .ly-footer_right .el-tel {
  margin-bottom: 2.85rem;
}
.ly-footer_inner .ly-footer_right .bl-table {
  margin-bottom: 2.15rem;
}

@media (max-width: 1239px) {
  .ly-footer_inner .el-googleMap iframe {
    width: 50rem;
  }
}
@media (max-width: 1239px) {
  .ly-header_inner {
    max-width: 98rem;
  }
  .ly-cont {
    max-width: 98rem;
  }
  .ly-footer_inner {
    max-width: 98rem;
  }
}
@media (max-width: 1023px) {
  .ly-header_inner {
    max-width: 98rem;
  }
  .ly-cont {
    width: 92%;
  }
  .ly-footer_inner {
    width: 93%;
    flex-direction: column-reverse;
    padding: 10rem 0 10rem;
  }
  .ly-footer_inner .el-googleMap {
    text-align: center;
  }
  .ly-footer_inner .el-googleMap iframe {
    width: 95%;
    height: auto;
    aspect-ratio: 16/9;
  }
  .ly-footer_inner .ly-footer_right {
    margin-left: 0;
  }
}
@media (max-width: 599px) {
  .ly-footer_inner .ly-footer_right {
    text-align: center;
    margin-left: 0;
  }
  .ly-footer_inner .ly-footer_right .el-logo {
    margin-right: auto;
    margin-left: auto;
  }
  .ly-footer_inner .ly-footer_right .hp-df {
    margin-bottom: 1.8rem;
    justify-content: center;
  }
}
.el-logo {
  width: 26.3rem;
  height: auto;
}
.el-logo img {
  width: 100%;
}

.el-tel {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.4rem;
  color: rgb(33, 169, 55);
}
.el-tel::before {
  content: "";
  display: inline-block;
  width: 2.436rem;
  height: 2.457rem;
  transform: translateY(20%);
  background-image: url(../source/phone.png);
  background-repeat: no-repeat;
}

@media (min-width: 599px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}
.el-underline {
  text-decoration-color: rgb(153, 229, 165);
  text-decoration-line: underline;
  text-decoration-thickness: 10px;
  text-underline-offset: -3px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.el-underline.el-underline__small {
  text-decoration-thickness: 4px;
}

.el-lv2heading {
  text-align: center;
  margin-bottom: 7rem;
}
.el-lv2heading span {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 3.8rem;
  text-decoration-color: rgb(153, 229, 165);
  text-decoration-line: underline;
  text-decoration-thickness: 10px;
  text-underline-offset: -3px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.el-label {
  display: inline-block;
  width: 8rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(68, 68, 68);
  padding: 0.4rem 0;
}

.el-link {
  font-size: 1.6rem;
  font-weight: bold;
}
.el-link::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.75rem 0 0.75rem 0.8rem;
  border-color: transparent transparent transparent rgb(68, 68, 68);
  transform: translateY(10%);
  margin-left: 0.752rem;
}

.el-link:hover, .el-link :focus {
  opacity: 0.5;
}

.el-copyRight {
  font-size: 1.1rem;
  text-align: end;
}

.el-googleMap iframe {
  width: 60.8rem;
  height: 44rem;
}

.bl-jumbotron {
  position: relative;
  height: 94.7rem;
  background-size: cover;
  background-position: 75% 50%;
}
.bl-jumbotron .bl-jumbotron_txt {
  position: absolute;
  top: 13.3rem;
  left: 39.3rem;
  font-size: 2.8rem;
  line-height: 3.4rem;
  font-weight: bold;
  writing-mode: vertical-rl;
  background-color: rgb(255, 255, 255);
  padding: 1.8rem 3.7rem 9.9rem;
}
.bl-jumbotron .bl-jumbotron_txt2 {
  position: absolute;
  top: 13.3rem;
  left: 21.1rem;
  font-size: 2.8rem;
  line-height: 3.4rem;
  font-weight: bold;
  writing-mode: vertical-rl;
  background-color: rgb(255, 255, 255);
  padding: 1.8rem 3.7rem 6.5rem;
}
.bl-jumbotron .bl-jumbotron_txt2 span {
  color: rgb(33, 169, 55);
}

@media (max-width: 1239px) {
  .bl-jumbotron .bl-jumbotron_txt {
    left: 29.3rem;
  }
  .bl-jumbotron .bl-jumbotron_txt2 {
    left: 11.3rem;
  }
}
@media (max-width: 1023px) {
  .bl-jumbotron .bl-jumbotron_txt {
    top: 30rem;
    left: 20rem;
  }
  .bl-jumbotron .bl-jumbotron_txt2 {
    top: 30rem;
    left: 7rem;
  }
}
@media (max-width: 599px) {
  .bl-jumbotron {
    height: 70rem;
  }
  .bl-jumbotron .bl-jumbotron_txt {
    font-size: 2rem;
    top: 30rem;
    left: 11rem;
    padding: 1.5rem 1.5rem 4rem;
  }
  .bl-jumbotron .bl-jumbotron_txt2 {
    font-size: 2rem;
    top: 30rem;
    left: 3rem;
    padding: 1.5rem;
  }
}
.bl-media {
  display: flex;
}
.bl-media .bl-media_body {
  flex: 1;
  padding: 0 4.4rem 0 3.1rem;
}
.bl-media .bl-media_body .bl-media_ttl {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 3.5rem;
  padding-top: 3.1rem;
  margin-bottom: 3.2rem;
}
.bl-media .bl-media_body .bl-media_ttl2 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 3.5rem;
  margin-bottom: 3.7rem;
}
.bl-media .bl-media_body .bl-media_txt {
  font-weight: 400;
  line-height: 3.8rem;
}
.bl-media .bl-media_imgWrapper {
  width: 69rem;
  height: auto;
}
.bl-media .bl-media_imgWrapper img {
  width: 100%;
}

@media (max-width: 1239px) {
  .bl-media .bl-media_imgWrapper {
    width: 51rem;
  }
}
@media (max-width: 1023px) {
  .bl-media {
    flex-direction: column-reverse;
    text-align: center;
  }
  .bl-media .bl-media_imgWrapper {
    width: 90%;
    margin: 0 auto;
  }
  .bl-media .bl-media_body {
    width: 100%;
    padding: 0 2rem;
    margin: 0 auto;
  }
  .bl-media .bl-media_body .bl-media_txt {
    text-align: start;
  }
}
@media (max-width: 340px) {
  .bl-media .bl-media_body .bl-media_ttl {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .bl-media .bl-media_body .bl-media_ttl2 {
    font-size: 2rem;
    margin-bottom: 2.5rem;
  }
}
.bl-card {
  display: flex;
  flex-direction: column;
  height: 59.1rem;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(201, 201, 201);
  border-radius: 10px;
}
.bl-card .bl-card_ttl {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 3.8rem;
  padding: 4rem 0 4.5rem;
  text-align: center;
}
.bl-card .bl-card_txt {
  font-weight: bold;
  line-height: 3.8rem;
}
.bl-card .bl-card_imgWrapper {
  width: 18.7rem;
  height: auto;
  margin: auto auto 0;
}
.bl-card .bl-card_imgWrapper img {
  width: 100%;
}

.bl-cardUnit {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bl-cardUnit.bl-cardUnit__col3 .bl-card {
  width: 38.5rem;
}

@media (max-width: 1239px) {
  .bl-cardUnit.bl-cardUnit__col3 .bl-card {
    width: 31.8rem;
  }
  .bl-cardUnit.bl-cardUnit__col3 .bl-card .bl-card_ttl {
    padding: 3rem 0 3.2rem;
  }
}
@media (max-width: 1023px) {
  .bl-cardUnit.bl-cardUnit__col3 .bl-card {
    width: calc((100% - 2rem) / 2);
    height: 50rem;
    margin-bottom: 2rem;
  }
  .bl-cardUnit.bl-cardUnit__col3 .bl-card:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 820px) {
  .bl-cardUnit.bl-cardUnit__col3 .bl-card {
    width: 100%;
    height: auto;
  }
}
.bl-post {
  display: flex;
  align-items: center;
  padding: 1.95rem 0;
  border-bottom: 2px solid rgb(231, 231, 231);
}
.bl-post .bl-post_date {
  font-size: 1.6rem;
  color: rgb(33, 169, 55);
  margin-right: 3rem;
}
.bl-post .el-label {
  margin-right: 3rem;
}
.bl-post .bl-post_txt {
  flex: 1;
  font-weight: bold;
}

@media (max-width: 1023px) {
  .bl-post {
    display: block;
  }
  .bl-post .bl-post_txt {
    padding-top: 2rem;
  }
  .bl-post .bl-post_date {
    margin-right: 2rem;
  }
  .bl-post .el-label {
    margin-right: 0;
  }
}
@media (max-width: 599px) {
  .bl-post .bl-post_date {
    margin-right: 1rem;
  }
}
.bl-postsList {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 3rem;
  padding: 0 6.6rem 4.6rem;
  text-align: end;
}
.bl-postsList .bl-postsList_inner {
  text-align: start;
  padding: 3.95rem 0;
}

@media (max-width: 820px) {
  .bl-postsList {
    padding: 0 5% 4.6rem;
  }
}
.bl-table {
  border-top: 2px solid rgb(231, 231, 231);
  border-bottom: 2px solid rgb(231, 231, 231);
  font-size: 1.4rem;
  font-weight: 400;
}
.bl-table .bl-table_inner {
  padding: 2.15rem 0 2.35rem;
}
.bl-table .bl-table_inner .bl-table_item {
  display: flex;
  margin-bottom: 2rem;
}
.bl-table .bl-table_inner .bl-table_item:last-child {
  margin-bottom: 0;
}
.bl-table .bl-table_inner .bl-table_item .bl-table_ttl {
  width: 8.45rem;
}
.bl-table .bl-table_inner .bl-table_item ul {
  border-left: 2px solid rgb(231, 231, 231);
  padding: 0.5rem 0 0.5rem 2.85rem;
}
.bl-table .bl-table_inner .bl-table_item ul li {
  display: flex;
  margin-bottom: 1.3rem;
}
.bl-table .bl-table_inner .bl-table_item ul li:last-child {
  margin-bottom: 0;
}
.bl-table .bl-table_inner .bl-table_item ul li .bl-table_txt2 {
  margin-left: 2.3rem;
}
.bl-table .bl-table_inner .bl-table_item ul li .bl-table_txt3 {
  margin-left: 1.7rem;
}

@media (max-width: 370px) {
  .bl-table .bl-table_inner .bl-table_item .bl-table_ttl {
    width: 6.7rem;
  }
  .bl-table .bl-table_inner .bl-table_item ul {
    padding-left: 1rem;
  }
  .bl-table .bl-table_inner .bl-table_item ul li .bl-table_txt2 {
    margin-left: 1.5rem;
  }
  .bl-table .bl-table_inner .bl-table_item ul li .bl-table_txt3 {
    margin-left: 1.3rem;
  }
}
.hp-mb3_4rem {
  margin-bottom: 3.4rem !important;
}

.hp-mb8_1rem {
  margin-bottom: 8.1rem !important;
}

.hp-mb8_2rem {
  margin-bottom: 8.2rem !important;
}

.hp-mb16_2rem {
  margin-bottom: 16.2rem !important;
}

.hp-mr1_6rem {
  margin-right: 1.6rem;
}

.hp-bgcgreen {
  background-color: rgb(245, 252, 248);
}

.hp-df {
  display: flex;
}

.hp-dnone {
  display: none;
}

.hp-dblo1239d {
  display: none;
}

@media (max-width: 1239px) {
  .hp-dnone1239d {
    display: none;
  }
  .hp-dblo1239d {
    display: block;
  }
}
@media (max-width: 1023px) {
  .hp-dblo1239d {
    display: none;
  }
  .hp-dnone1023d {
    display: none;
  }
  .hp-dblo1023d {
    display: block;
  }
}
.hp-dblo440d {
  display: none;
}

@media (max-width: 440px) {
  .hp-dblo440d {
    display: block;
  }
}
.un-wrapper {
  background-color: rgb(245, 252, 248);
  padding: 7.8rem 0 11.2rem;
}

/* base */
/* layout */
/* element */
/* block */
/* helper */
/* unique */
/* program *//*# sourceMappingURL=style.css.map */