.el-label {
  display: inline-block;
  width: 8rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(68, 68, 68, 1);
  padding: .4rem 0;
}