.el-lv2heading {
  text-align: center;
  margin-bottom: 7rem;
  span {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 3.8rem;
    text-decoration-color: rgba(153, 229, 165, 1);
    text-decoration-line: underline;
    text-decoration-thickness: 10px;
    text-underline-offset: -3px;
    text-decoration-skip-ink: none;
  }
}